@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background: url("../img/bg.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

nav {
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../img/top-wave.svg") no-repeat;
  background-size: cover;
}

.leftNav,
.rightNav {
  margin-top: -15px;
}

.rightNav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14.5px;
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.menu li {
  list-style: none;
  padding: 0 30px;
}

.menu li a {
  text-decoration: none;
}

.menu li a:hover {
  text-decoration: underline;
}

.startBtn {
  padding: 8px 12px;
  color: white;
  border-radius: 5px;
  background-color: #8859ec;
  text-decoration: none;
}

.startBtn:hover {
  border: 2px solid white;
  color: white;
  padding: 6px 10px;
}

.mid {
  margin: 60px 90px;
  display: flex;
}

.leftSec {
  margin-top: 30px;
}

.smallTxt {
  font-size: 14px;
  color: #ffffffc7;
}

.bigTxt {
  margin-top: -10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.3;
}

.colorTxt {
  display: inline-block;
  font-family: "Paytone One";
  letter-spacing: 2px;
  font-size: 60px;
  background: linear-gradient(30deg, #2c66b8 0%, #8859ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.medTxt {
  display: inline-block;
  font-size: 18px;
}

.spindleTxt {
  display: inline-block;
  font-family: "Pacifico";
  font-size: 20px;
  color: #8859ec;
  padding-left: 2px;
}

.rightSec {
  margin-right: 220px;
}

.bottomWave {
  margin-top: -90px;
  height: 230px;
  background: url("../img/bottom-wave.svg") no-repeat;
  background-size: cover;
}
